<a href="https://colab.research.google.com/github/rmconsult/python/blob/main/testes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#importar pandas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.violinplot(x = 'salario', data=dataset)

NameError: ignored